$breakpoint-desktopLarge: 2500px;
$breakpoint-desktop: 1024px;
$breakpoint-mobile: 320px;
$breakpoint-tablet: 769px;
$breakpoint-columns: 578px;
$breakpoint-desktopSmall: 975px;


$page-main-color: orange;


$home-main-font: "fontMontserratSemiBold", sans-serif;
$logo-font: "Pattaya", sans-serif;
$nav-font: "fontMontserratSemiBold", sans-serif;
