$breakpoint-desktopLarge: 2500px;
$breakpoint-desktop: 1024px;
$breakpoint-mobile: 320px;
$breakpoint-tablet: 769px;
$breakpoint-columns: 578px;
$breakpoint-desktopSmall: 975px;


$page-main-color: orange;
$main-links-color: orange;
$dark-theme-background2: #181818;
$main-font-color: #fff;
$dark-theme-surface: #282828;
$main-background-color: #000;
$secondary-background-color: #fff;
$secondary-font-color: #000;

$home-main-font: "fontMontserratSemiBold", sans-serif;
$logo-font: "Pattaya", sans-serif;
$nav-font: "fontMontserratSemiBold", sans-serif;
$contact-main-font: "fontMontserratRegular", sans-serif;
$contact-title-font: "fontMontserratBold", sans-serif;
$contact-text-font: "fontMontserratSemiBold", sans-serif;
$footer-main-font: "fontMontserratRegular", sans-serif;
$footer-title-font: "fontMontserratBold", sans-serif;
$footer-copyRigth-font: "fontMontserratSemiBold", sans-serif;

