
@font-face {
  font-family: "fontMontserratSemiBold";
  src: url("~@/assets/Fonts/Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: "Pattaya";
  src: url("~@/assets/Fonts/Pattaya-Regular.ttf");
}

