
@font-face {
  font-family: "fontMontserratSemiBold";
  src: url("~@/assets/Fonts/Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: "fontMontserratBold";
  src: url("~@/assets/Fonts/Montserrat-Bold.ttf");
}
@font-face {
  font-family: "fontMontserratRegular";
  src: url("~@/assets/Fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Pattaya";
  src: url("~@/assets/Fonts/Pattaya-Regular.ttf");
}

